body {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;    
}

.blue {
    background-color: rgb(54, 96, 214);
}

.purple {
    background-color: rgb(128, 27, 128);
}

#second-row {
    background-color: orangered;
    margin-top: 0px;
}

div {
    border: 1px solid blue;
    display: flex;
    margin: 15px;
    padding: 5px;

   }

p {
    padding: 20px;
    margin: 15px;
    
}