body {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.first-row {
    background-color: white;
}

.second-row {
    background-color: orangered;
}

div {
    border: 1px solid blue;
    display: flex;
   margin: 0.5%;
   
}

p {
    padding: 20px;
    margin: 15px;
}